@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Black+Han+Sans&family=Lalezar&family=Lobster&family=Poller+One&family=Righteous&family=Roboto:wght@300&family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Lobster&family=Poller+One&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: 'Rubik Glitch', cursive;
  background-image: url('/src/img/asfalt-light.png');
  background-color: rgb(32, 31, 31);
  background-position: cover;
  background-attachment: fixed ;
  color: white;
}

a { 
  color: white;
}
